* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  max-width:1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
    
    
}

.left img {
    width: 300px;
    height: auto;
    border: 1px solid #ccc;
     
}

.right h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .right .stars {
    font-size: 18px;
    color: #f39c12;
    margin-bottom: 10px;
  }

  .right p {
    margin-bottom: 12px;
    line-height: 1.5;
  }

  figcaption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
  }

